*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
    
}

header{
    text-align: right;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    background-color: black;
    position: sticky;
    top: 0pc;
    z-index: 4;
}

.menubar{
    display: flex;
    justify-content: right;
    color: white;
}

header ul{
    display: flex;
    justify-content: right;
    gap: 1pc;
    align-content: center;
    top: 5pc;
    list-style: none;
}

header a{
  text-decoration: none;
  color: #fff;
}

/*Estilos de la seccion de la introducción */
.introduccion {
    margin: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

hr {
    width: 60px;
    align-items: center;
    background-color: goldenrod;
    height: 5px;
    border: 0cap;
}
figure{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_me{ 
    z-index: 1;
    top: 15px;
    left: 15%;
    border-radius: 15px;
}

/* Estilos de la sección de historial */
.historial {
  background-color: black;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  border-style: dashed;
  align-items: center;
}

.historial h1{
  align-content: center;
  color: whitesmoke;
}

.wrapper {
  display: flex;
  width: 55vw;
  justify-content: space-between;
}

.izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  color: whitesmoke;
}

.izquierda ul {
  list-style-type: none;
  padding: 0;
}

.izquierda li {
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0 0 86px 0;
}

hr{
  height: 100%;
  width: 4px;
  color: goldenrod;
}

.derecha {
  margin: 0 100px;
  flex: 2;
  color: whitesmoke;
}

.etapa {
  margin-bottom: 30px;
}

h2 {
  color: whitesmoke;
  margin: 0;
}

p {
  color: whitesmoke;
  margin: 0;
}

/* Estilos de los testimonios */
.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: goldenrod;
  border-radius: 15px;
}

.testimonio {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
}

.testimonio img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonio-contenido {
  flex: 1;
}

h2 {
  color: #333;
  margin: 0;
}

p {
  color: #666;
  margin: 0;
}

blockquote {
  font-style: italic;
  margin-top: 10px;
  border-left: 2px solid #333;
  padding-left: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos de las redes sociales */
.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.red-social {
  text-align: center;
  margin: 0 20px;
}

.red-social a {
  text-decoration: none;
  color: #333;
  display: block;
}

.red-social i {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Estilos adicionales */
span {
  font-size: 18px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .testimonio {
      flex-direction: column;
      text-align: center;
  }
  .testimonio img {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .wrapper {
    flex-direction: column;
  }
  .izquierda {
      text-align: center;
      margin-bottom: 20px;
  }
  .derecha {
      text-align: center;
  }
  .redes-sociales {
    flex-direction: column;
    height: auto;
  }
}